h1{
  font-family: Didact Gothic Font;
}

.tropical {
  background-color: #f7325e;
  color: #7dc410;
  font-family: fantasy font;
}

.popular{
    font-style: italic;
    font-style: bold;
}

.active {
  background-color: #4CAF50;
}

ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  display: inline;
  float: left;
  text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: grey;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: orange;
}

.active {
    background-color: #4CAF50;
    color: white;
  }

.intro {
  font-style: italic;
}

p.intro{
  font-size: 12px;
}

strong{
  font-style: italic;
}

 em {
   font-style: bold;
 }

img {
  float: right;
}
Create styles for all of the elements in this section to set them apart from the rest of the content on the page. Use the selectors h2.introduction, p.introduction, and img.introduction for the styles.
